.navbar{
    background: transparent;
    padding-bottom: 1.5rem;
}
.nav-btn{
    margin-right: 15rem;
}
.navbar-btn{
    margin-top: 2rem;
    background: transparent ;
    padding: 0.5rem 2rem;
    border-radius: 10px;
    color: aliceblue;
    font-size: 18px;
    font-weight: 800;
}
.navbar-btn:hover{
    background-color: aliceblue;
}
.navbar-brand img{
    top:0px;
    margin-left: 20rem;
    width: 12rem;
    height: 6rem;
}