.navbar-login{
    background-color: black;
    height: 70px;
    
}
.navbar-brand img{
    top:0px;
    margin-left: 2vw;
    width: 12rem;
    height: 5rem;
}
.navbarlogin-search{
    padding-top: 15px;
}
.navbarlogin-button{
    font-size: 18px;
}
.navbarlogin-btn{ 
    background: black ;
    border-radius: 10px;
    color: aliceblue;
    font-size: 18px;
    font-weight: 800;
}
.navbarlogin-btn:hover, .navbarlogin-btn:focus{
    background-color: aliceblue;
    border: aliceblue;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 800;
}