.div-center {
    width: 30vw;
    background-color: #fff;
    margin: auto;
    padding: 1em 1em;
    display: table;
    margin-top: 3vw; 
  }
  .login-email{
    height: 2.5vw;
  }
  .signup-fname{
    height: 2.5vw;
  }
.names{
    margin-bottom: 0.9vw;
}
  .signup-password{
    height: 2.5vw;
  }
  .get-started, .get-started:hover, .get-started:focus{
    background: #d1410c;
    color: #fff;
    font-weight: 700;
    font-size:12px;
    height: 2.5vw;
    width:30vw;
  
  }
  .login-lets{
    font-weight: bolder;
    text-align: center;
    font-size:25px;
  }
  .login-use{
    font-weight: 500;
    text-align: center;
    font-size:15px;
  }
  
  @media only screen and (max-width: 800px) {
    .div-center {
      width: 80%;
      background-color: #fff;
      padding: 1em 1em;
      display: table;
      margin-top: 3vw; 
    }
  
    .get-started, .get-started:hover, .get-started:focus{
      background: #d1410c;
      color: #fff;
      font-weight: 700;
      font-size:15px;
      height: 35px;
      width:100%;
    }
  
    .login-email{
      height: 35px;
    }
    
      .signup-password{
        height: 35px;
      }
  
  }