.page-footer{
    display: inline;
}
.footer-company{
    color: black;
    background-color: #fff;
    font-size: 20px;
    font-weight: 500;
}

li{
    display: inline-block;
    font-weight: 500;
}
.footer-btn1, .footer-btn2, .footer-btn3{
    color: black;
    background-color: #fff;
    font-size: 20px;
    padding: 0px 5px;;
    margin: 0px;
}
.footer-state{
    color: black;
    background-color: #fff;
    font-size: 20px;
    text-align: right;
}
