li{
    display: inline-block;
    font-weight: 500;
}
.footer-btn1, .footer-btn2, .footer-btn3{
    font-size: 2vh;
} 
.testfoot {
    text-align: center;
    display: inline;
    width: 100%;
    position: absolute;
    bottom: 0;
}