.home-page{
    margin: 0px;
    font-size: 1rem;
    overflow: hidden;
    line-height: 1.5;
}

.top-component-media{
    display: block;
    font-size: 1rem;
    height: 100vh;
    width: 100%;
    align-items: center;
}

.top-component-media{
    position: absolute;
    top:0;
    z-index: -1;
    left:0;
    width:100%;
    height:75vh;
   
    overflow:hidden;
}
.top-component-media video{
    min-width: 100%;
    min-height: 100%;
    
}
.top-component-content{
    color:#fff;
    text-align: center;
    align-items: center;
    margin-top: 10vh;
    z-index: 2;
}
.top-component-content h1{
    font-size: 4vw;
    font-weight: 900;
    text-shadow: #fff;
    margin-bottom: 0;
}
.top-component-content p{
    font-size: 2vw;
    font-weight: bold;
    text-shadow: #fff;
    display: block;
    padding-bottom: 2rem;
}
.top-component-content-btn, .top-component-content-btn:hover{
    background: #ed9d3a;
    border-radius: 15px;
    color: #fff;
    font-weight: bold;
    font-size: 1vw;
    padding: 1rem 2rem;
    text-decoration: none; 
}

.cards-text{
    margin-top: 35vh;
    font-size: 2vw;
    padding: 5vw;
    text-align: center;
    font-weight: bold;
}

.cards1 {
border-radius: 15px;
}

.card-body, .overflow {
    border-radius: 15px; 
}

.cards-main{
    text-align: center;
}
.card-img-top, .card-img-top img
{
    display: inline-block;
    margin-top: 10%;
    cursor: pointer;
    border-radius:15px 15px 0px 0px;
    align-items: center;
    width: 26vw;
    height: 20vw;
    z-index: -1;
}

.btn-card, .btn-card:hover{
    padding: 1vh 2vh 2vh 2vh;
    margin-bottom: 20%;
    border-radius:0px 0px 15px 15px;
    width: 26vw;
    height: 4vw;
    z-index: 2;
    background-color: #6f2cbd;
    color: #fff;
    font-size: 2vw;
    font-weight: 500;

}

.btn-card2, .btn-card2:hover{
    background-color: rgba(195, 113, 5, 0.835);
    color: #fff;  
}
.home-dark-main{
    background-color: #1d1f1f;
    font-size: 8vw;
    margin-top: 5%;
}
.home-dark-words{
    margin-left: 5%;
    margin: 4%;
}
.home-dark-first-word{
    background: -webkit-linear-gradient(left, #ca417b, #da5369);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.home-dark-second-word{
    background: -webkit-linear-gradient(left,#d9506a, #e16c58);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.home-dark-third-word{
    background: -webkit-linear-gradient(left,#e27056, #ed9d3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}